In [12]:
'''Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.'''

s='abc@amazon.com'
c=s.split("@")
d=c[1]
e=d.split(".")
f=e[0]
print(f)

amazon

In [17]:
'''Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world'''
a=input()
x=[i for i in a.split(',')]
y=(','.join(sorted(list(x))))
print(y)

charter,horoscope,example,nest,prestige,riot,countryside,emotion,fashion,leg
charter,countryside,emotion,example,fashion,horoscope,leg,nest,prestige,riot

In [34]:
'''creating operations on sets'''
x={'hello','word','fashion','trends'}
x.add('cheese')
print(x)
x.update(['burger','rice'])
print(x)
print(len(x))
x.remove('burger')
print(x)
x.discard('cheese')
print(x)
y=x.pop()
print(y)
print(x)
z={'fire','water','air','space','earth'}
print(x.issubset(z))
print(x.union(z))

{'fashion', 'cheese', 'trends', 'hello', 'word'}
{'fashion', 'cheese', 'trends', 'rice', 'hello', 'word', 'burger'}
7
{'fashion', 'cheese', 'trends', 'rice', 'hello', 'word'}
{'fashion', 'trends', 'rice', 'hello', 'word'}
fashion
{'trends', 'rice', 'hello', 'word'}
False
{'space', 'water', 'trends', 'rice', 'hello', 'earth', 'word', 'fire', 'air'}

In [46]:
'''Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input'''

nums = set([int(i) for i in input().split()])
full = set([i for i in range(1, max(nums)+1)])
print(*(nums ^ full))

1 3 5 6 8 9
2 4 7

In [51]:
'''With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35'''

nums = [int(i) for i in input().split()]
print(*sorted(set(nums), key = nums.index))

1 1 1 1 2 5 2 1 8 5 6 4 1
1 2 5 8 6 4